{% extends "base.html" %}

{% block content %}
<form action="{{url_for('save.save', uid=user.id)}}">
  <input style="float:right;text-align:right;" class="btn" type="submit" name="save" value="Saved for later">
</form>
<h2>{{user.firstname}} {{user.lastname}}'s Cart:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Product Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Update Quantity</th>
        <th scope="col">Time Added to Cart</th>
        <th scope="col">Save For Later?</th>
        <th scope="col">Remove Item From Cart?</th>
      </tr>
    </thead>
    <tbody>
      {% for product in cart%}
        <tr>
          <td scope="row">{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>
          
          <td>
            <form method="POST" action="{{url_for('cart.cart', action='update', uid=user.id, pid=product.pid)}}">
              <select id="quant"name="quant">
                <option value='1' {% if product.quantity==1 %} selected="selected"{% endif %}>1</option>
                <option value='2' {% if product.quantity==2 %} selected="selected"{% endif %}>2</option>
                <option value='3' {% if product.quantity==3 %} selected="selected"{% endif %}>3</option>
                <option value='4' {% if product.quantity==4 %} selected="selected"{% endif %}>4</option>
                <option value='5' {% if product.quantity==5 %} selected="selected"{% endif %}>5</option>
                <option value='6' {% if product.quantity==6 %} selected="selected"{% endif %}>6</option>
                <option value='7' {% if product.quantity==7 %} selected="selected"{% endif %}>7</option>
                <option value='8' {% if product.quantity==8 %} selected="selected"{% endif %}>8</option>
                <option value='9' {% if product.quantity==9 %} selected="selected"{% endif %}>9</option>
                <option value='10' {% if product.quantity==10 %} selected="selected"{% endif %}>10</option>
              </select>
              <input class="btn" type="submit" name="update" value="Update">
            </form>
          </td>

          <td>{{product.time_added_to_cart}}</td>
          <td>
            <form method="POST" action="{{url_for('cart.cart', action='save', uid=user.id, pid=product.pid)}}">
              <input class="btn" type="submit" name="save" value="Save">
            </form>
          </td>
          <td>
            <form method="POST" action="{{url_for('cart.cart', action='delete', uid=user.id, pid=product.pid)}}">
              <input class="btn" type="submit" name="delete" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<h4>Total cart price: ${{totalPrice}}</h4>

<form method="POST" action="{{url_for('cart.cart', action='coupon', uid=user.id)}}">
  {{ form.csrf_token }}
  <p>
    {{form.coupon.label}}<br />
    {{form.coupon(size=32)}}
  </p>

  <p>
    <input type="submit" value="Apply">
  </p>
</form> 

<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</p>

<form method="POST" action="{{url_for('cart.cart', action='confirm', uid=user.id)}}">
  <input class="btn" type="submit" name="order" value="Confirm Order">
</form>
{% endblock %}