{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<h2>Purchase History:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
	<tr>
		<th scope="col">Order ID</th>
		<th scope="col">Product Name</th>
		<th scope="col">Price</th>
		<th scope="col">Quantity</th>
		<th scope="col">Total Price</th>
		<th scope="col">Fulfillment Status</th>
	</tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history %}
    <tr>
		<th>{{purchase.order_id}}</th>
		<th>{{purchase.product_name}}</th>
		<th>{{purchase.product_price}}</th>
		<th>{{purchase.quantity}}</th>
		<th>{{purchase.total_price}}</th>
		<th>{{purchase.fulfillment_status}}</th>
	</tr>
    {% endfor %}
  </tbody>
</table>

<!-- Aaric's Product Reviews List -->
<h2>Product Reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
	<tr>
		<th scope="col">Product ID</th>
		<th scope="col">Review Time</th>
		<th scope="col">Review Content</th>
		<th scope="col">Review Rating</th>
		<th scope="col">Edit Review</th>
		<th scope="col">Delete Review</th>
		<th scope="col">Image</th>
	</tr>
  </thead>
  <tbody>
    {% for review in all_user_reviews %}
    <tr>
		<th>{{review.pid}}</th>
		<th>{{review.review_time}}</th>
		<th>{{review.review_content}}</th>
		<th>{{review.review_rating}}</th>
		<th><a href="{{ url_for('review.editreview', product_id = review.pid) }}" type="button" class="btn btn-light">Edit</a></th>
		<th><a href="{{ url_for('review.deletereview', review_id = review.id) }}" type="button" class="btn btn-light">Delete</a></th>
		{% if review.review_image == "" %}
			<th></th>
		{% else %}
			<th>
				<img src={{review.review_image}} alt="Product Image" width="50rem" height="50rem">
			</th>
		{% endif %}
	</tr>
    {% endfor %}
  </tbody>
</table>

<!-- Aaric's Seller Reviews List -->
<h2>Seller Reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
	<tr>
		<th scope="col">Seller ID</th>
		<th scope="col">Review Time</th>
		<th scope="col">Review Content</th>
		<th scope="col">Review Rating</th>
		<th scope="col">Edit Review</th>
		<th scope="col">Delete Review</th>
	</tr>
  </thead>
  <tbody>
    {% for review in all_user_sellerreviews %}
    <tr>
		<th>{{review.sellerid}}</th>
		<th>{{review.review_time}}</th>
		<th>{{review.review_content}}</th>
		<th>{{review.review_rating}}</th>
		<th><a href="{{ url_for('sellerreview.editsellerreview', sellerid = review.sellerid) }}" type="button" class="btn btn-light">Edit</a></th>
		<th><a href="{{ url_for('sellerreview.deletesellerreview', sellerid = review.sellerid, user_id = current_user.id) }}" type="button" class="btn btn-light">Delete</a></th>
	</tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
