{% extends "base.html" %}

{% block content %}
<h2>{{user.firstname}} {{user.lastname}}'s Orders:</h2>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">oid</th>
        <th scope="col">uid</th>
        <th scope="col">Total Price</th>
        <th scope="col">Total Items</th>
        <th scope="col">Time Ordered</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders%}
        <tr>
          <td scope="row">{{order.oid}}</td>
          <td>{{order.uid}}</td>
          <td>{{order.tot_price}}</td>
          <td>{{order.tot_items}}</td>
          <td>{{order.time}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}