{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<h2>{{user.firstname}} {{user.lastname}}'s Orders:</h2>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">oid</th>
        <th scope="col">Total Price</th>
        <th scope="col">Total Items</th>
        <th scope="col">Time Ordered</th>
        <th scope="col">Status</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders%}
        <tr>
          <td scope="row">{{order.oid}}</td>
          <td>{{order.tot_price}}</td>
          <td>{{order.tot_items}}</td>
          <td>{{order.time}}</td>
          <td>{{fulfillmentDict[order.oid]}}</td>
          <td>
            <form action="{{url_for('purchase.purchase', oid=order.oid)}}">
              <input class="btn" type="submit" name="details" value="Details">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see orders!</p>
{% endif %}
{% endblock %}