{% extends "base.html" %}

{% block content %}
<!-- Form to take keyword search input from user -->
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.productName.label }}<br />
        {{ form.productName(size=32) }}<br />
        {% for error in form.productName.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
	<p>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</p>
	<p>{{ form.submitName() }}</p>
</form>
<!-- If any products match the keyword provided -->
{% if listofproducts[0] is defined %}
<h2>Products Found:</h2>
<table id="products" class='table table-hover table-bordered container'>
  <thead class="thead-dark">
	<tr>
		<!-- Price and average rating are buttons to allow sorting -->
		<th scope="col">Product Name and Image</th>
		<th scope="col">Product Category</th>
		<th><button onclick="sortProducts(2)">Price</button></th>
		<th scope="col">Quantity Available</th>
		<th><button onclick="sortProducts(4)">Average Rating</button></th>
	</tr>
  </thead>
  <tbody>
    {% for product in listofproducts %}
    <tr>
		<!-- Each product in the list can be clicked to be taken to a detailed product page -->
        <td><a href="{{ url_for('searchproduct.searchbySKU', sku = product.product_id) }}" type="button" class="btn btn-light">{{product.name}}</a>
		<br>
		<img {
			float: left;
			src={{product.imageurl}}
			alt="Product Image"
		}></td>
		<td>{{product.category}}</td>
		<td>{{product.price}}</td>
		<td>{{product.quantity}}</td>
		{% if product.avg_rating %}
			<td>{{product.avg_rating}}☆</td>
		{% else %}
			<td>No Reviews Yet</td>
		{% endif %}
	</tr>
    {% endfor %}
  </tbody>
</table>
<script> //Code adapted from W3 Schools.
	function sortProducts(n) {
		var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
		table = document.getElementById("products");
		switching = true;
		//Begin by sorting ascending
		dir = "asc";
		while (switching) {
			switching = false;
			rows = table.rows;
			for (i = 1; i < (rows.length - 1); i++) {
				//Skip table header, loop through all other rows
				shouldSwitch = false;
				x = rows[i].getElementsByTagName("td")[n];
				y = rows[i + 1].getElementsByTagName("td")[n];
				if (n == 2) { //If sorting by price, compare numbers
					if (dir == "asc") {
						//Sort ascending price
						if (Number(x.innerHTML) > Number(y.innerHTML)) {
						shouldSwitch = true;
						break;
						}
					} else if (dir == "desc") {
						//Sort descending price
						if (Number(x.innerHTML) < Number(y.innerHTML)) {
						shouldSwitch = true;
						break;
						}
					}
				} else if (n == 4) { //If sorting by review, compare letters (to account for "No Reviews")
					if (dir == "asc") {
						//Sort ascending review score
						if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
						shouldSwitch = true;
						break;
						}
					} else if (dir == "desc") {
						//Sort descending review score
						if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
						shouldSwitch = true;
						break;
						}
					}
				}
			}
			if (shouldSwitch) {
				rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
				switching = true;
				switchcount ++;
				//Keep track of switch count
				} else {
				if (switchcount == 0 && dir == "asc") {
					dir = "desc";
					switching = true;
					//Allows switching between descending and ascending if the button is clicked again
				}
			}
		}
	}
</script>
{% endif %}
{% endblock %}