{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<h2>One or more of the items have limited stock or are unavailable!</h2>
<br>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
        <th scope="col">Product Name</th>
        <th scope="col">Stock</th>
        <th scope="col">Quantity Asked For</th>
        <th scope="col">Available?</th>
    </thead>
    <tbody>
        {% for product in unavailable%}
        <tr>
            <th scope="row"><a href="{{ url_for('searchproduct.searchbySKU', sku = product.pid) }}" type="button" class="btn btn-light">{{product.name}}</a></th>
            <td>{{product.have}}</td>
            <td>{{product.needed}}</td>
            <td>{{product.avail}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<h2>Please reduce the quantity of these items or remove them from your cart</h2>

<form action="{{url_for('cart.cart', uid=user.id)}}">
  <input class="btn" type="submit" name="back" value="Back to Cart">
</form>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a></p>
{% endif %}
{% endblock %}