{% extends "base.html" %}
<br></br>

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.keyword.label }}<br />
        {{ form.keyword(size=32) }}<br />
        {% for error in form.keyword.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
	<p>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</p>
	<p>{{ form.submit() }}</p>
</form>

<h2>Purchase History:</h2>
<form method="post" action="{{url_for('users.purchasehistory', action='filterdate')}}">
    <select id="dateFilter" name="dateFilter">
      <option value='month' {% if currDatefilter=='month' %} selected="selected"{% endif %}>Last Month</option>
      <option value='3month' {% if currDatefilter=='3month' %} selected="selected"{% endif %}>Last 3 Months</option>
      <option value='year' {% if currDatefilter=='year' %} selected="selected"{% endif %}>Last Year</option>
      <option value='all' {% if currDatefilter=='all' %} selected="selected"{% endif %}>All Purchases</option>
    </select>
    <input class="btn" type="submit" name="filter" value="Filter">
  </form>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
	<tr>
		<th scope="col">Order ID</th>
		<th scope="col">Product Name</th>
		<th scope="col">Price</th>
		<th scope="col">Quantity</th>
		<th scope="col">Total Price</th>
		<th scope="col">Fulfillment Status</th>
	</tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history %}
    <tr>
		<th>{{purchase.order_id}}</th>
		<th>{{purchase.product_name}}</th>
		<th>{{purchase.product_price}}</th>
		<th>{{purchase.quantity}}</th>
		<th>{{purchase.total_price}}</th>
		<th>{{purchase.fulfillment_status}}</th>
	</tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}